body{
    margin: 0px;
}
.main{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #e5e5e5;
    background-image: url('photo.jpg');
}

.side-bar-wrapper{
    width: 20%;
    background-color: #ebebe7;
    text-decoration: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}
.side-bar-wrapper .logo-image1{
    width: 90%;
    padding: 13px 10px;
}
.side-bar-wrapper .logo-image2 img{
    display: none;
}
.main-page-cont .side-bar-wrapper{
    width: 4%;
}
.main-page-cont .content-area{
    width: 96%;
    position: relative;
    right: 20%;
}
.main-page-cont .side-bar-wrapper .orderlists a{
    display: none;
}
.main-page-cont .side-bar-wrapper .logo-image1{
    display: none;
}
.main-page-cont .side-bar-wrapper .logo-image2 img{
    width: 30px;
    display: block;
    height: 44px;
    padding-top: 16px;
    padding-left: 9px;
}

.orderlists{
    list-style: none;
    padding-left: 0px;
  }
  .orderlists li {
    padding: 12px;
    font-family: sans-serif;
    font-size: 15px;
  }
  .orderlists li a{
    font-family: sans-serif;
    padding-left: 10px;
    text-decoration: none;
    color: black;
  }
  .orderlists li:hover{
    background-color: #d0d8c3;
    border: 3px solid black;
    border-style: none solid none none;
  }

.fa{
    font-size: 20px;
}
.hover-side-bar{
    width: 10%;
    background-color: #ebebe7 ;
    display: inline-block;
    text-decoration: none;
}
.open-button{
    display: block;
    margin-top: 315px;
    margin-left: 5px;
}
.action-btn{
    display: block;
    margin-top: 320px;
    margin-left: 38px;
}
#collapse-id{
    transition: .5s linear;
}
.content-area{
    width: 80%;
    height: auto;
}
.page-content{
    float: right;
    position: relative;
    background-color: #e5e5e5;
    width: 100%;
    height: auto;
    left: 50%;
}
.page-title h3{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
  .responsive-table{
    background-color: #ebebe7;
    border-radius: 5px;
    width: 70%;
    justify-content: center;
    padding: 30px;
    display: block;
  }
  .main-page-cont .content-area .page-content .responsive-table{
    background-color: #ebebe7;
    border-radius: 5px;
    width: 60%;
    justify-content: center;
    padding: 30px;
  }
  
  .responsive-table .number{
    font-weight: bold;
  }
 
  
  /* .responsive-table .border{
    display: block;
    
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 177%;
  } */

   .side-bar-wrapper .closebtn {
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  .side-bar-wrapper::after{
      overflow-x: 0;
  } 
  
  .openbtn {
      bottom: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
  }

  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
      display: none;
    transition: width .5s;
  }
  